# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Node.js
node_modules/
npm-debug.log*

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db